* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//colors
$font-dark: #111111;
$background-medium: #ccc7d3;

//mixins
@mixin background-transition-ease {
    transition: background .3s ease-in-out;
}