@import 'config';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    //bring back to top after img and hero
    z-index: 1;

    a {
        text-decoration: none;
        color: $font-dark;
        font-size: 2rem;
        list-style: none;
    }

    .menu-items {
        display: flex;
        align-items: center;
        list-style: none;

        li a {
            font-size: 1rem;
            padding: .5em 1em;
            @include background-transition-ease;

            &:hover {
                background-color: $background-medium;
            }
        }
    }
    
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hero-section {
        background-color: #dfdbe5;        
    }

    .hero-col {
        //min, sweet spot, max
        padding: clamp(1rem, 8vw, 5rem);
        //col won't be larger than 50% of screen
        max-width: 50%;
    }

    h1 {
        //min, sweet spot, max
        font-size: clamp(60px, 8vw, 200px);
        font-weight: 700;
        line-height: 3vw;
        color: #ccc7d3;
        text-transform: uppercase;
    }

    h2 {
        //min, sweet spot, max
        font-size: clamp(18px, 2.5vw, 60px);
        color: #5a4d70;
        padding-left: 3rem;
        text-transform: uppercase;
    }

    p {
        color: #5a4d70;
        padding-right: 1rem;
    }
}

